@{
    ViewBag.Title = "Outlook Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="mailModule">
    <h2>Welcome to your outlook !</h2>
    <br />
    
    <div ng-view></div>
</div>


