<div class="row">
    <div class="col-md-12">
        <strong>Sender : </strong>
    </div>
    <div class="col-md-12">
        {{message.Sender}}
    </div>

    <div class="col-md-12">
        <strong>To : </strong>
    </div>
    <div class="col-md-12">
        <span ng-repeat="recipient in message.recipients">
            {{Recipient}}
        </span>
    </div>

    <div class="col-md-12">
        <strong>Subject : </strong>
    </div>
    <div class="col-md-12">
        {{message.Subject}}
    </div>

    <div class="col-md-12">
        <strong>Message : </strong>
    </div>
    <div class="col-md-12">
        {{message.Message}}
    </div>
    <br /><br />
    <a href="#/">Back to message list</a>
</div>